<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd"
    >

    <bean name="user" class="org.aweikn.spring.ioc.User" >
        <property name="name" value="Aweikn"/>
        <property name="age"  value="26"/>
        <property name="sex"  value="man"/>
    </bean>

    <bean name="login" class="org.aweikn.spring.aop.LoginService"/>
    <bean name="loginAspect2" class="org.aweikn.spring.aop.LoginAspect"/>

    <!-- 配置 aop -->
    <aop:config >
        <!-- where 在哪里增加 -->
        <!-- 关于正则
            第一个* 是返回值
            第二个* 是最后的包名
            第三个* 是类名
            第四个* 是方法名
            -->
        <aop:pointcut id="loginCutpoint" expression="execution(* org.aweikn.spring.*.*.*(..))" />

        <!-- what 做什么增强 -->
        <aop:aspect id = "aspect1" ref="loginAspect2" >
            <!-- when 在什么时机  方法前 方法后  方法前后-->
            <aop:around method="loginAspects" pointcut-ref="loginCutpoint"/>
        </aop:aspect>
    </aop:config>

</beans>